body {
  background-color: rgb(120, 217, 252);
}
h1 {
  color: brown;
  font-family: "Impact", sans-serif;
}
a {
  color: rgb(119, 28, 238);
}
a:hover {
  color: red;
}
img {
  width: 500px;
  margin-left: 10px;
  margin-right: 70px;
}
.one {
  width: 900px;
}
.bigText {
  font-size: 20px;
}
@font-face {
  font-family: "Impact";
  src: url("/fonts/impact.eot"); /* IE 9 Compatibility Mode */
  src: url("/fonts/impact.eot?#iefix") format("embedded-opentype"),
    /* IE < 9 */ url("/fonts/impact.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/fonts/impact.woff") format("woff"),
    /* Firefox >= 3.6, any other modern browser */ url("/fonts/impact.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("/fonts/impact.svg#impact") format("svg"); /* Chrome < 4, Legacy iOS */
}
ul {
  list-style-type: square;
}
